#page-login {
  body {
    background: #fff;
  }

  .img-code {
    width: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .btn-bg-blue {
    background: #009DD9;
    color: #fff;
  }
  .login-box {
    border: 1px solid #efefef;
    padding: 20px;
    border-radius: 10px;
  }
  .login_wrapper {
    max-width: 450px;
  }

}
